textarea.textarea {
    height: 85vh;
    max-height: 100% !important;
}

#links, #viewer {
    height: 85vh;
    overflow-y: scroll;
}

section.main-contents {
    background-color: #fff;
    padding: 10px;
}
